.prompt-space-container{
    display: flex;
    justify-content: center;
}

.prompt-space {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.message-area {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
}

.flex-spacer{
    height: 100%;
}

.message-row {
    display: flex;
}

.message-row.machine {
    justify-content: flex-start;
}

.message-row.user {
    justify-content: flex-end;
}

.bubble-container {
    position: relative;
    display: inline-block;
}

.bubble-text {
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
}

.bubble-text-content {
    display: inline-block;
    white-space: nowrap;
}

.bubble-ellipsis {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    line-height: 24px;
    background: white;
    padding-left: 2px;
}

.input-row {
    padding: 0;
    height : 24px;
}

.input-textbox {
    position: absolute;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}